@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-table"></i> @Model.TableTitle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>ID</label>
                    @Html.TextBoxFor(x => x.DatasetMarkerEntity.dataset_marker_id, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <!-- TODO -->
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-default btn-flat float-right">Save</button>
    </div>
</div>
