@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@Model.TableTitle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
