@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.ReferenceViewModel
@if (Model.DataCollectionCodeValues.Count > 0)
{
    <table id="data-table-note-lookup" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.DataCollectionCodeValues)
            {
                <tr>
                    <td>1</td>
                    <td>@Html.Raw(result.Description)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{ 
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> No Records Found</h4>
        There are no notes that contain the term <span style="font-weight:bold;">@Model.SearchEntity.SearchText</span>.
    </div>  
}
<script type="text/javascript">
    InitDataTableLookupFormat("data-table-note-lookup");
</script>


