<!--
*************************************************************************************************
Modal that appears if no record is selected for folder addition.
*************************************************************************************************
-->
<div class="modal fade" id="modal-feature-not-available" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Feature Not Available</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This logic is currrently in development and/or testing, and is not yet available.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-dark float-right" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
