@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebUserViewModel
<div class="card card-primary edit-controls">
    <div class="card-header">
        <h3 class="card-title">Web User</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        @Html.Partial("~/Views/Shared/_RevisionHistory.cshtml")
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>User Name</label><br />
                    @Html.TextBoxFor(x => x.Entity.WebUserName, new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(x => x.Entity.WebUserPassword, new { @class = "form-control", type = "text" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="btnSave" type="button" data-ggtools-action="sync" data-ggtools-value="web_user" class="btn btn-default btn-block float-right">Copy >></button>
    </div>
</div>
