@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModel

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Citation References [@Model.DataCollectionReportItems.Count]</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var result in Model.DataCollectionReportItems)
            {
                
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                <a href="@Url.Action("Index", result.Title.Replace(" ", ""), new { @citationId = Model.Entity.ID })">
                                    @result.Title
                                </a>
                            </span>
                            <span class="info-box-number">@result.Total</span>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>