@*<form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" id="txtSearchByWORID" name="q" class="form-control allownumericwithoutdecimal" placeholder="Enter WOR ID...">
        <span class="input-group-btn">
            <button type="button" id="btnSearchByWORID" name="search" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>*@

<div class="form-inline">
    <div class="input-group"  >
        <input id="txtSearchByWORID" class="form-control form-control-sidebar" type="text" placeholder="Enter WOR ID" aria-label="Search">
        <div class="input-group-append">
            <button id="btnSearchByWORID" class="btn btn-sidebar">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
    @*</div><div class="sidebar-search-results"><div class="list-group"><a href="#" class="list-group-item"><div class="search-title"><strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>*@
</div>




<script type="text/javascript">
    $("#btnSearchByWORID").click(function () {
        var entityId = $("#txtSearchByWORID").val();
        var url = '@Url.Action("Search","WebOrderRequest")';
        url = url + "?id=" + entityId;
        window.location.href = url;
    });
</script>