@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-table"></i> Reports</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var result in Model.DataCollectionReports)
            {
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-table"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                <a href="@Url.Action("ReportDetail","Species", new { @reportCode = result.CodeTitle.Replace(" ","_") })">
                                    @result.CodeTitle
                                </a>
                            </span>
                            <span class="info-box-number">
                                @result.CodeDescription
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
