<div class="modal fade" id="modal-reset-password">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="lblFolderEditModalTitle" class="modal-title">Reset DEBUG Password</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ResetPassword", "SysUser", FormMethod.Post, new { id = "frmSysUserResetPassword" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" id="txtResetSysUserPassword" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" id="txtResetSysUserPasswordConfirmed" class="form-control" />
                            </div>
                        </div>
                    </div>
                }
                </div>
            <div class="modal-footer">
                <span class="input-group-btn">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat">Cancel</button>
                    <button type="button" id="btnSubmitResetPassword" class="btn btn-default btn-flat">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>
