<div class="card card-primary shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Shadow - Small</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>

    </div>

    <div class="card-body">
        The body of the card
    </div>

</div>
