@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.FamilyViewModel
<div class="card">
    <div id="section-dependent-data" class="card-header p-2">
        <ul id="list-dependent-data" class="nav nav-pills">
            <li id="tab_selector_citation" data-ggtools-action="Citation" data-ggtools-value="_List" class="nav-item"><a class="nav-link active" href="#tab_content_citation" data-toggle="tab">Citations</a></li>
            <li id="tab_selector_taxonomy_genus" data-ggtools-action="Genus" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_genus" data-toggle="tab">Genera</a></li>
            <li id="tab_selector_subdivisions" data-ggtools-action="Family" data-ggtools-value="_ListSubdivisions" class="nav-item"><a class="nav-link" href="#tab_content_subdivisions" data-toggle="tab">Subdivisions</a></li>
            <li id="tab_selector_synonyms" data-ggtools-action="Family" data-ggtools-value="_ListSynonyms" class="nav-item"><a class="nav-link" href="#tab_content_synonyms" data-toggle="tab">Synonyms</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_content_citation">
            </div>
            <div class="tab-pane" id="tab_content_taxonomy_genus">
            </div>
            <div class="tab-pane" id="tab_content_subdivisions">
                <h3>TO DO</h3>
            </div>
            <div class="tab-pane" id="tab_content_synonyms">
                <h3>TO DO</h3>
            </div>
        </div>
    </div>
    <div id="progress_overlay" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>