@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysFolderViewModel
@{
    ViewBag.Title = "Code Value Search";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div class="row">
    <!--<div class="col-md-3">-->
        <!-- Tag list-->
        <!--@{Html.RenderAction("Component_SelectList", "SysTag");}
    </div>-->
    <div class="col-md-12">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="pt-2 px-3">
                        <h3 class="card-title">
                            <i class="nav-icon fas fa-folder"></i> Folders
                        </h3>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#tab-content-sys-folder-stc" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Static</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#tab-content-sys-folder-dyn" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Dynamic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#tab-content-sys-folder-sql" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">SQL</a>
                    </li>
                   
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tab-content-container">
                    <div class="tab-pane fade show active" id="tab-content-sys-folder-stc" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                        @{Html.RenderAction("Component_ListWithIcons","SysFolder", new { @typeCode = "STC" });}
                    </div>
                    <div class="tab-pane fade" id="tab-content-sys-folder-dyn" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                        @{Html.RenderAction("Component_ListWithIcons", "SysFolder", new {@typeCode = "DYN" });}
                    </div>
                    <div class="tab-pane fade" id="tab-content-sys-folder-sql" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
                        @{Html.RenderAction("Component_ListWithIcons", "SysFolder", new { @typeCode = "SQL" });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function GetSysFolderList(sysTagId, tableName) {
        var link = '@Url.Action("Component_ListWithIcons", "SysFolder", new { @typeCode = "TYPE_CODE" })';
        var lin


    }
    //$(document).ready(function () {
    //    Init();
    //    InitSelectorDataTable("data-table-groups");
    //    /*var selectedValue = $('#SelectedGroup').val();*/
    //    /*console.log('Selected Value on Page Load: ' + selectedValue);*/
    //    /*GetCodeValueList(selectedValue);*/
    //});

    //$(document).ready(function () {
    //    $('button[data-card-widget="collapse"]').on('click', function () {
    //        console.log('Card collapsed/expanded');
    //        // Add your custom functionality here
    //    });
    //});

    //$(document).ready(function () {
    //    $('#SelectedGroup').on('change', function () {
    //        var selectedIndex = $(this).prop('selectedIndex');
    //        var selectedValue = $(this).val();
            
    //        console.log('Selected Index: ' + selectedIndex);
    //        console.log('Selected Value: ' + selectedValue);
    //        GetCodeValueList(selectedValue);
    //    });
    //});

    //function InitSelectorDataTable(tableName) {
    //    tableName = "#" + tableName;

    //    var tableNameString = tableName + " tbody";

    //    table = $(tableName).DataTable({
    //        paging: false,
    //        select: {
    //            style: 'single'
    //        },
    //        searching: true,
    //        //columnDefs: [
    //        //    { targets: [0], visible: false }
    //        //]
    //    });

    //    // When the page loads, select the first row by default, and
    //    // load the detail matching the code value ID.

    //    var lastSelectedCodeValueId = $("#SelectedCodeValueID").val();
    //    if (lastSelectedCodeValueId > 0) {
    //        var rowIndex = table.column(0).data().indexOf(lastSelectedCodeValueId);
    //        table.row(rowIndex).select();
    //    }
    //    else {
    //        table.row(':eq(0)', { page: 'current' }).select();
    //    }

    //    var row = table.row({ selected: true });

    //    // Check if a row is selected
    //    if (row.any()) {
    //        // Get data for the selected row
    //        var data = row.data();

    //        // Assuming you want to get the value of the first column
    //        var fieldValue = data[0];

    //        console.log("DEBUG SEL GRP " + fieldValue);
    //        GetCodeValueList(fieldValue);
    //    } else {
             
    //    }

    //    $("#data-table-code-values tbody").on('click', 'tr', function () {
    //        var selRowdata = table.row(this).data()[0];
    //        console.log("DEBUG SEL GRP " + selRowdata);
    //        GetCodeValueList(selRowdata);
    //    });
    //}

    @*function GetCodeValueList(groupName) {
        var link = '@Url.Action("Component_CodeValueList", "CodeValue", new { groupName = "GROUP_NAME" })';
        link = link.replace("GROUP_NAME", groupName);
        var formData = new FormData();

        $("#SelectedCodeGroup").val(groupName);

        formData.append("groupName", groupName);

        $("#progress_overlay").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-code-value-list").html(response);
                InitSelectorDataTable("data-table-code-values");
                $("#progress_overlay").hide();
            }
        });


    }

    function GetCodeValueDetail(id) {
        var link = '@Url.Action("Component_Editor","CodeValue")';
        var formData = new FormData();

        link = link + "?codeValueId=" + id;

        $("#SelectedCodeValueID").val(id);

        $.ajax({
            url: link,
            type: 'GET',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-code-value-detail").html(response);
                //GetCodeValueList(selectedGroupName);
            }
        });
    }

    $("#btnSaveEdits").click(function () {
        SaveEdits();
    });

    function SaveEdits() {
        var link = '@Url.Action("Save","CodeValue")';
        var formData = new FormData();

        formData.append("Entity.ID", $("#Entity_ID").val());
        formData.append("Entity.CodeValueID", $("#Entity_CodeValueID").val());
        formData.append("Entity.CodeValueLangID", $("#Entity_CodeValueLangID").val());
        formData.append("Entity.GroupName", $("#Entity_GroupName").val());
        formData.append("Entity.SysLangID", $("#Entity_SysLangID").val());
        formData.append("Entity.Code", $("#Entity_Code").val());
        formData.append("Entity.CodeTitle", $("#Entity_CodeTitle").val());
        formData.append("Entity.CodeDescription", $("#Entity_CodeDescription").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
            if (response.success) {
                    var selectedGroupName = $("#SelectedGroup").val();
                    var selectedCodeValueId = $("#SelectedCodeValueID").val();
                    GetCodeValueDetail(selectedCodeValueId);
                    GetCodeValueList(selectedGroupName);
                    SetCurrentRow(selectedCodeValueId);
                    
                } else {
                    HandleError(response.message);
                }
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                HandleError(errorMessage);
            }
        });
    }*@

    //function Init() {
    //    $("#section-error").hide();
    //}

    //function SetCurrentRow(id) {
    //    var table = $('#data-table-code-values').DataTable();
       
    //    // Define the value you are looking for
    //    var searchValue = id;

    //    // Use the DataTables API to find the row
    //    var rowIndex = table.column(0).data().indexOf(searchValue);

    //    console.log("VALUE " + id + " IS IN ROW " + rowIndex);

    //    if (rowIndex !== -1) {
    //        // Use the row().select() API to select the row
    //        table.row(rowIndex).select();

    //        //// Optional: scroll to the row
    //        //$('html, body').animate({
    //        //    scrollTop: $(table.row(rowIndex).node()).offset().top
    //        //}, 1000);
    //    } else {
    //        console.log('Row not found');
    //    }
    //}

    //function HandleError(message) {
    //    $("#section-error").show();
    //    $("#section-error-message").html(message);
        
    //}
</script>
