@model USDA.ARS.GRIN.GGTools.ViewModelLayer.OrderRequestViewModel


        <div class="row">
            <div class="col-md-4">
                <h4>Requestor</h4>
                @{Html.RenderAction("Component_Widget", "Cooperator", new { @cooperatorId = Model.Entity.RequestorCooperatorID }); }
            </div>
            <div class="col-md-4">
                <h4>Ship To</h4>
                @{Html.RenderAction("Component_Widget", "Cooperator", new { @cooperatorId = Model.Entity.ShipToCooperatorID }); }
            </div>
            <div class="col-md-4">
                <h4>Final Recipient</h4>
                @{Html.RenderAction("Component_Widget", "Cooperator", new { @cooperatorId = Model.Entity.FinalRecipientCooperatorID }); }
            </div>
        </div>
  
<script type="text/javascript">
    InitWidgetDataTable("data-table-site-cooperators");
    function InitWidgetDataTable(tableName) {
        $(document).ready(function () {
            tableName = "#" + tableName;
            table = $(tableName).DataTable({
                paging: false,
                responsive: true,
                select: {
                    style: 'single'
                },
                searching: false,
                columnDefs: [
                    { targets: [0], visible: false }
                ]
            });
        });
    }
</script>