@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysTableViewModel
@foreach (var result in Model.DataCollection)
{
    <li class="nav-item">
        <a href="@Url.Action("Index", result.TableName.Replace(" ",""))" class="nav-link">
            <i class="far fas fa-table nav-icon"></i>
            <p>@result.TableName</p>
        </a>
    </li>
}
