@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
<div class="form-group">
    <label>Forma Authority</label>
    <div class="input-group">
        @Html.TextBoxFor(x => x.Entity.FormaAuthority, new { @class = "form-control" })
        <span class="input-group-append">
            <button id="btnOpenAuthorityLookupModalSpecies"
                    type="button"
                    data-ggtools-id-field="" 
                    data-ggtools-name-field="Entity_FormaAuthority"
                    class="btn btn-default btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
