@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
<div class="form-group">
    <label>Variety Authority</label>
    <div class="input-group">
        @Html.TextBoxFor(x => x.Entity.VarietyAuthority, new { @class = "form-control" })
        <span class="input-group-append">
            <button type="button"
                    id="btnOpenAuthorityLookupModalVariety"
                    data-toggle="modal"
                    data-target="#modal-author-lookup"
                    class="btn btn-default btn-flat"
                    data-ggtools-id-field="" 
                    data-ggtools-name-field="Entity_VarietyAuthority">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
