@model USDA.ARS.GRIN.GGTools.ViewModelLayer.MenuViewModel
<ul class="navbar-nav">
    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
    </li>
    @if (Model.EventValue == "Edit")
    {
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Add", Model.EventAction)" class="nav-link">New</a>
        </li>
    }
</ul>
