<div class="col-md-1" style="padding:0px;">
    <label style="color:transparent;">DEBUG</label>
    <button id="btnShowHideExtendedFieldsOn" type="button" style="margin-top:0px;" class="btn btn-default btn-flat btn-block">
        <i id="btnShowHideExtendedFieldsIcon" class="fas fa-plus"></i>
    </button>
    <button id="btnShowHideExtendedFieldsOff" type="button" style="margin-top: 0px; display: none;" class="btn btn-default btn-flat btn-block">
        <i id="btnShowHideExtendedFieldsIcon" class="fas fa-minus"></i>
    </button>
</div>