@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysDBErrorViewModelBase
<div id="section-controls" class="box box-default" style="border:none;">
    <div class="box-header">
        <div class="btn-group pull-right">
            <button id="btnReset" type="button" class="btn btn-default">Reset</button>
            <button id="btnSubmitSearch" type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
    <!-- /.box-header -->
    <div id="section-search-criteria" class="box-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Date Range</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Error Text</label>
                </div>
            </div>
        </div>        
    </div>
</div>







