@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CodeValueViewModel
<table id="data-table-code-values" class="table table-striped ggtools-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollection.Count() > 0)
        {
            foreach (var result in Model.DataCollection)
            {
                <tr>
                    <td>
                        @result.CodeValueID
                    </td>
                    <td>@result.CodeTitle</td>
                    <td>@result.Description</td>
                    <td>@result.ModifiedDate.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>


