@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModelBase
<div class="modal fade" id="modal-species-lookup" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="search-progress-overlay-species-lookup" class="overlay">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Species Lookup
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="section-search-criteria" class="modal-body">
                @using (Html.BeginForm(new { id = "frmSpeciesLookup", onsubmit = "return false;" }))
                {
                    <input type="hidden" id="modal-species-lookup-value-field" />
                    <input type="hidden" id="modal-species-lookup-display-field" />
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(x => x.SearchEntity.Name, new { @id = "txtLookupSpeciesName", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="margin">
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input class="custom-control-input" type="checkbox" id="cbxLookupIsAcceptedName" value="option1">
                                        <label for="cbxLookupIsAcceptedName">
                                            Search accepted names only.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin">
                            <button id="btnReset" type="button" class="btn btn-default">Reset</button>
                            <button id="btnGetSpecies" type="button" class="btn btn-default float-right">Search</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="section-species-lookup-search-results" class="col-md-12">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //$('#modal-species-lookup').on('keypress', function (event) {
    //    var keycode = (event.keyCode ? event.keyCode : event.which);

    //    if (keycode == '13') {
    //        event.preventDefault();
    //        GetSpecies();
    //    }
    //});

    // Get the input field
    var input = document.getElementById("txtLookupSpeciesName");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("btnGetSpecies").click();
        }
    });

    $("#btnOpenSpeciesLookupModal").click(function () {
        var idField = $(this).data("ggtools-id-field");
        var nameField = $(this).data("ggtools-name-field");
        OpenLookupModal("species", idField, nameField);
    });

    $("#btnGetSpecies").click(function () {
        GetSpecies();
    });

    function GetSpecies() {
        var link = '@Url.Action("Lookup","Species")';
        var speciesName = $("#txtLookupSpeciesName").val();
        var formData = new FormData();

        formData.append("SearchEntity.Name", speciesName);
        if ($("#cbxLookupIsAcceptedName").is(":checked")) {
            formData.append("SearchEntity.IsAcceptedName", "Y");
        }

        $("#search-progress-overlay-species-lookup").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-species-lookup-search-results").html(response);
                InitDataTableWithAssembledName("data-table-species-lookup");
                $("#search-progress-overlay-species-lookup").hide();
            },
            error: function (ex) {
                alert("Error");
                $("#search-progress-overlay-species-lookup").hide();
            }
        });
    }

    $(document).on("click", "[id*='btnSaveSpecies']", function () {
        var eventAction = $("#EventAction").val();
        var eventValue = $("#EventValue").val();
        var eventInfo = $("#EventInfo").val();
        var idList = GetSelectedEntityIDs("data-table-species-lookup");
     
        if (eventValue == "EditBatch") {
            SaveSpeciesToBatch(eventInfo, idList);
        }
        else {
            SaveSpecies();
        }
    });

    function SaveSpecies() {
        var idField = $("#modal-species-lookup-value-field").val();
        var displayField = $("#modal-species-lookup-display-field").val();
        var isAcceptedName = "";
        var idList = GetSelectedEntityIDs("data-table-species-lookup");
        var nameList = GetSelectedEntityLabels("data-table-species-lookup");

        idField = "#" + idField;
        displayField = "#" + displayField;

        console.log("DEBUG " +idField + ""+displayField);

        $(idField).val(idList);
        $(displayField).val(nameList);
        $("#placeholder-AcceptedName").html(nameList);
        $("#placeholder-SpeciesName").html(nameList);
        $('#modal-species-lookup').modal('hide');
    }

    function SaveSpeciesToBatch() {
        ('#modal-species-lookup').modal('hide');
    }

</script>