
<div class="modal fade" id="modal-common-name-edit" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-edit"></i>
                    Add Common Name
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_Save", "CommonName", FormMethod.Post, new { id = "frmEdit" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input id="txtCommonNameEditName" class="form-control" />
                                @*@Html.TextBoxFor(x => x.Entity.Name, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Simplified Name</label>
                                <input id="txtCommonNameEditSimplifiedName" class="form-control" />
                                @*@Html.TextBoxFor(x => x.Entity.SimplifiedName, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ebebeb" })*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Language</label>
                                <select class="form-control"></select>
                                @*@Html.DropDownListFor(x => x.Entity.LanguageID, Model.CommonNameLanguages, "Select language", new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Transcription</label>
                                <input id="txtCommonNameEditTranscription" class="form-control" />
                                @*@Html.TextBoxFor(x => x.Entity.AlternateTranscription, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                }
                </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="btnSaveCommonName" type="button" class="btn btn-default float-right">Save</button>
            </div>
        </div>
    </div>
</div>















