
@{
    ViewBag.Title = "ResetPasswordFinal";
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}


<div class="login-box" style="width:450px;">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1"><b>Curator Tool</b></a>
            <h4>Self-Service Password Reset</h4>
            <h6><strong>Database:</strong> @AppInfo.GetDatabase()</h6>
        </div>
        <div class="card-body">
            <p><strong>Your GRIN-Global Curator Tool password has been successfully reset.</strong></p>
            <p>It will expire on: <br />
            <span class="badge bg-primary" style="font-size:12pt;">@ViewData["PW_EXPIRATION_DATE"]</span></p>
            <p>Please note that you are <strong>not</strong> required to change this password when you next log in.</p>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("RequestPasswordReset","Login")" id="btnCancel" class="btn btn-default btn-block btn-flat">
                Return to Reset Request Page
            </a>
        </div>
    </div>
</div>

