<li class="nav-header">
    TOOLS
</li>
@*<li class="nav-item">
    <a href="@Url.Action("Index","Import")" class="nav-link disabled">
        <i class="nav-icon fas fa-toolbox"></i>
        <p>Data Import</p>
    </a>
</li>*@
<li class="nav-item">
    <a href="@Url.Action("Index","SysDynamicQuery")" class="nav-link">
        <i class="nav-icon fas fa-database"></i>
        <p>SQL Query Tool</p>
    </a>
</li>