@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.FamilyMapViewModel
<div class="modal fade" id="modal-infrafamilial-taxa-edit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Infrafamilial Taxa</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10"><label style="margin-top:5px;">Subfamily</label></div>
                    <div class="col-md-2">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input id="txtNumSubfamily" class="form-control" value="0" style="text-align:center;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"><label style="margin-top:5px;">Tribe</label></div>
                    <div class="col-md-2">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input id="txtNumTribe" class="form-control" value="0" style="text-align:center;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"><label style="margin-top:5px;">Subtribe</label></div>
                    <div class="col-md-2">
                        <div class="input-group number-spinner">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                            <input id="txtNumSubtribe" class="form-control" value="0" style="text-align:center;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnGenerateInfrafamilialTaxa" class="btn btn-default btn-flat pull-right">Generate</button>
                    </div>
                </div>
                <div id="section-infrafamilial-taxa-edit">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnSaveInfrafamilialTaxa" class="btn btn-default btn-flat">Save</button>
            </div>
        </div>
    </div>
</div>