@if (Model.UserMessages.Count > 0)
{
    <div id="section-input-error" class="alert alert-info alert-dismissible">
        @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
        <h5><i class="icon fas fa-ban"></i> Input Error</h5>
        <ul>
            @foreach (var message in Model.UserMessages)
            {
                <li>@message.Message</li>
            }
        </ul>
    </div>
}
