<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-compact nav-flat nav-child-indent flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="@Url.Action("Index","HOme")" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuSysFolder.cshtml")
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuTools.cshtml")
        @if (AppInfo.GetAuthenticatedUser().IsInRole("MANAGE_TAXONOMY"))
        {
            <li class="nav-header">MANAGE DATA</li>
            { Html.RenderAction("_List", "SysTable"); }
        }
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuSysAdmin.cshtml")
    </ul>
</nav>