
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        ID
                    </th>
                    <th style="width: 20%">
                        Requestor
                    </th>
                    <th style="width: 30%">
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>
                        50000
                    </td>
                    <td>
                        <a>
                            Haag, Benjamin
                        </a>
                        <br>
                        <small>
                            c.benjamin.haag@gmail.com
                        </small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                            <li class="list-inline-item">
                                <span class="badge bg-danger">FLAG</span>
                            </li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8"></div>
</div>

