@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysTagViewModel



<div id="external-events">
    <div class="external-event bg-success ui-draggable ui-draggable-handle" style="position: relative; z-index: auto; left: 0px; top: 0px;">
    <input type="checkbox"/> Lunch
    </div>
    <div class="external-event bg-warning ui-draggable ui-draggable-handle" style="position: relative; z-index: auto; left: 0px; top: 0px;">Go home</div>
    <div class="external-event bg-info ui-draggable ui-draggable-handle" style="position: relative;">Do homework</div>
    <div class="external-event bg-primary ui-draggable ui-draggable-handle" style="position: relative;">Work on UI design</div>
    <div class="external-event bg-danger ui-draggable ui-draggable-handle" style="position: relative;">Sleep tight</div>
</div>
<button id="btnSaveSelectedTag" type="button" class="btn btn-default btn-flat float-right">Save Selected Tag</button>
