@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GenusViewModel
<div id="section-related-data" class="card">
    <div id="section-dependent-data" class="card-header p-2">
        <ul id="list-dependent-data" class="nav nav-pills">
            <li id="tab_selector_species" data-ggtools-action="Species" data-ggtools-value="_List" class="nav-item"><a class="nav-link active" href="#tab_content_species" data-toggle="tab">Species</a></li>
            <li id="tab_selector_citation" data-ggtools-action="Citation" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_citation" data-toggle="tab">Citations</a></li>
            <li id="tab_selector_synonyms" data-ggtools-action="Genus" data-ggtools-value="_ListSynonyms" class="nav-item"><a class="nav-link" href="#tab_content_synonyms" data-toggle="tab">Synonyms</a></li>
            <li id="tab_selector_subdivisions" data-ggtools-action="Genus" data-ggtools-value="_ListSubdivisions" class="nav-item"><a class="nav-link" href="#tab_content_subdivisions" data-toggle="tab">Subdivisions</a></li>
            <li id="tab_selector_taxonomy_common_name" data-ggtools-action="CommonName" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_common_name" data-toggle="tab">Common Names</a></li>
            <li id="tab_selector_taxonomy_regulation_map" data-ggtools-action="RegulationMap" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_regulation_map" data-toggle="tab">Regulations</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_content_species">
            </div>
            <div class="tab-pane" id="tab_content_citation">
            </div>
            <div class="tab-pane" id="tab_content_synonyms">
            </div>
            <div class="tab-pane" id="tab_content_subdivisions">
            </div>
            <div class="tab-pane" id="tab_content_taxonomy_common_name">
            </div>
            <div class="tab-pane" id="tab_content_taxonomy_regulation_map">
            </div>
        </div>
    </div>
    <div id="progress_overlay" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
</div>
<script type="text/javascript">
     $('#section-dependent-data ul.nav li').on('click', function () {
        var selectedId = $(this).attr('id');
        var action =  $(this).data("ggtools-action");
        var value = $(this).data("ggtools-value");

         LoadDependentData(selectedId, action, value);
    });

    function LoadDependentData(controlId, eventAction, eventValue) {
        var link = '@Url.Action("EVENT_VALUE","EVENT_ACTION", new { genusId = "GENUS_ID" })';
        var entityId = $("#Entity_ID").val();
        var genusId = $("#Entity_GenusID").val();
        var genusName = $("#Entity_Name").val();
        var formData = new FormData();
        var sectionData = controlId.replace("tab_selector", "tab_content");

        link = link.replace("GENUS_ID", entityId);
        link = link.replace("EVENT_ACTION", eventAction);
        link = link.replace("EVENT_VALUE", eventValue);

        formData.append("GenusID", entityId);

        $("#progress_overlay").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#" + sectionData).html(response);
                $("#progress_overlay").hide();
                $("#" + sectionData + ' table:first').DataTable();
            }
        });
    }
</script>