@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysDataViewViewModel
<div class="row">
    <div class="col-md-12">
        @Html.TextAreaFor(x=>x.SQL, new { @class = "form-control", @rows="100" })
    </div>
</div>

